.git
.github
.venv
venv
env
__pycache__
*.py[cod]
.pytest_cache
.ipynb_checkpoints
data
casting_data
mlruns
mlartifacts
mlflow.db
*.sqlite
*.db
*.ipynb
tests
*.log

artifacts/*
!artifacts/model.pt
!artifacts/model_meta.json
